langchain==0.1.19
langchain-openai==0.1.6
langchain-community==0.0.38
langchain-core==0.1.52
langchain-text-splitters==0.0.1
openai==1.28.0
python-dotenv==0.19.2
quart==0.19.5
psycopg2==2.9.9
redash-toolbelt==0.1.9
redash-api-client==0.3.0
celery==5.4.0
llama-index==0.10.36
redis==5.0.4
